.container {
    background: rgb(204, 194, 194);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.formularios {
    background: rgba(167, 170, 173, 0.867);
    text-align: left;
}

#form_pesquisa {
    color: black;
    background: #d2d2d2;
    width: auto;
}

#form_cadastro {
    color: black;
    background:#d2d2d2;
    width: auto;
}

#form_valor {
    text-align: center;
    font-size: 50px;
    color: red;
    width: 33.3%;
}


#titulo {
    text-align: center;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 74px;
    text-align: left;
}
input {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type=submit]{
    -webkit-appearance: button;
    cursor: pointer;
    width: 100%;
    margin-left: 0px;
    height: 40px;
}

.tituloform{
    font-size:28px;
}
