<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Contas</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>

<body>
    <h1>Contas a pagar</h1>
    <form method="POST" action="/post">
        {{ form.csrf_token }}
        
        {{ form.nome.label }} {{ form.nome(size=20) }}
        {{ form.preco.label }} {{ form.preco }}
        {{ form.data_venc.label }} {{ form.data_venc }}
        {{ form.comment.label }} {{ form.comment }}
        {{ form.submit() }}
    <p></p>
    </form>
    
    <form method="POST">
        <table>
            <tr>
                <td><b>Nome</b></td>
                <td><b>Preço</b></td>
                <td><b>Data Venc.</b></td>
                <td><b>Comentário</b></td>
            </tr>        
        {% for item in contas %}
        <tr>
            <td>{{ item.nome }}</td>
            <td>{{ item.preco }}</td>
            <td>{{ item.data_venc }}</td>
            <td>{{ item.comment }}</td>
            <td><a class="btn btn-danger btn-sm" href="/delete/{{ item.id }}" role="button">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
   

    </form>
</body>
</html>