<!DOCTYPE html>
<html lang="br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/form_validator.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Contas</title>

</head>

<body>
  <!--CORPO DOS COMODOS-->
  <div class="container">


    <div id="titulo">
      <h1 id="titulo">GERENCIADOR DE PAGAMENTOS</h1>
    </div>

    <div class="formularios">

      <div id="form_cadastro" class="col-sm-3">
        <div class="tituloform tituloformcadastro">
          Cadastro:
        </div>
      
        <form class="regras" method="POST" action="/post">
          {{ form.csrf_token }}

          {{ form.descricao.label }} {{ form.descricao(size=20) }}
          <p></p>
          {{ form.preco.label }} {{ form.preco }}
          <p></p>
          <span id="data" for="data">{{ form.data_venc.label }} {{ form.data_venc }}</span>
          <p></p>
          {{ form.comment.label }} {{ form.comment(cols="35", rows="5") }}
          <p></p>
          <span id="btn_gravar">{{ form.submit() }}</span>
          <p></p>
        </form>
      </div>

      <div id="form_pesquisa" class="col-sm-3">
        <div class="tituloform tituloformpesquisa">
          Pesquisa:
        </div>
        <form class="regras" action="/select/" method="POST">
          {{ form.csrf_token }}

          {{ form.descricao_pesquise.label }} {{ form.descricao_pesquise(size=20) }}
          <p></p>
          {{ form.preco_pesquise.label }} {{ form.preco_pesquise }}
          <p></p>
          <span id="data_p">{{ form.date_pesquise.label }} {{ form.date_pesquise }}</span>
          <p></p>
          {{ form.comment_pesquise.label }} {{ form.comment_pesquise(cols="35", rows="5") }}
          <p></p>
          {{ form.submit_pesquise() }}
          <p></p>
        </form>
      </div>

      <div id="form_valor" class="col-sm-3">
        <!-- aqui vai o valor da soma -->
        <h2>Valor total:</h2> <p id="soma_home">{{ soma }}</p>
      </div>
    </div>

    <div id="btn-history">
      <a class="btn btn-primary" role="button" href="{{ url_for('gerenciar.history') }}">Historico</a>
      <p></p>
  </div>


    <table>
      <tr>
        <td><b>Descricao</b></td>
        <td><b>Preço</b></td>
        <td><b>Data Venc.</b></td>
        <td><b>Comentário</b></td>
        <td><b>Atualizar</b></td>
        <td><b>Apagar</b></td>
      </tr>
      {% for item in contas %}
      <tr>
        <form action="/update/{{ item.id }}" method="POST">
          <td>{{ form.descricao(value = item.descricao, size=20) }}</td>
          <td>{{ form.preco(value = item.preco) }}</td>
          <td>{{ form.data_venc(value = item.data_venc)}}</td>
          <td>{{ form.comment(value = item.comment, cols="35", rows="5") }}</td>
          <td>{{ form.submit() }}</td>
          <!--<td><a class="btn btn-primary" role="button" href="/update/{{ item.id }}">Gravar</a></td>-->
          <td><a class="btn btn-danger btn-sm" href="/delete/{{ item.id }}" role="button">Delete</a></td>
        </form>
        </td>
      </tr>
      {% endfor %}

    </table>


  </div>

</body>

</html>