<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/form_validator.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Contas</title>


</head>

<body>

  <div class="container">

    <div id="titulo">
      <h1>Relatório de contas</h1>
    </div>

    <div id = "btn-voltar">
      <td><a class="btn btn-danger btn-sm" href="/" role="button">Voltar</a></td>
    </div>

    <div id="form_valor" class="col-sm-3">
      <!-- aqui vai o valor da soma -->
      <h2>Valor total:</h2> <p id="soma_filtro">{{ "R$ {:.2f}".format(soma) }}</p>
    </div>
  
  <table>
    <tr>
      <td><b>Descricao</b></td>
      <td><b>Preço</b></td>
      <td><b>Data Venc.</b></td>
      <td><b>Comentário</b></td>
      <td><b>Status</b></td>
      <td><b>Atualizar</b></td>
      <td><b>Apagar</b></td>
    </tr>
    <!--Data de vencimento-->
    {% for item in contas %}
    <tr id="linha_table">
      <form action="/update/{{ item.id }}" method="POST">
        <td>{{ form_lista.list_descr(value = item.descricao, size=20) }}</td>
        <td>{{ form_lista.list_preco(value = item.preco) }}</td>
        <td>{{ form_lista.list_date(value = item.data_venc.strftime('%d/%m/%Y'))}}</td>
        <td>{{ form_lista.list_comment(value = item.comment, cols="35", rows="5") }}</td>
        {% if item.pago == '1' %}
            <td id="list_h_td">Pago</td>
          {% else %}
          <td id="list_h_td">Aberto</td>
          {% endif %}
        <td>{{ form_lista.list_submit() }}</td>
        <td><a class="btn btn-danger btn-sm" href="/delete/{{ item.id }}" role="button">Delete</a></td>
      </form>
      </td>
    </tr>
    {% endfor %}

  </table>
</div>
</body>

</html>