<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Contas</title>


</head>

<body>

  <div class="container">

    <div id="titulo">
      <h1>Relatório de contas</h1>
    </div>

    <div id = "btn-voltar">
      <td><a class="btn btn-danger btn-sm" href="/" role="button">Voltar</a></td>
    </div>

    <div id="form_valor" class="col-sm-3">
      <!-- aqui vai o valor da soma -->
      <h2>Valor total:</h2> {{ soma }}
    </div>
  
  <table>
    <tr>
      <td><b>Descricao</b></td>
      <td><b>Preço</b></td>
      <td><b>Data Venc.</b></td>
      <td><b>Comentário</b></td>
    </tr>
    <!--Data de vencimento-->
    {% for a in item %}
    <tr>
      <td>{{ a.descricao }}</td>
      <td>{{ a.preco }}</td>
      <td>{{ a.data_venc }}</td>
      <td>{{ a.comment }}</td>
    </tr>
    {% endfor %}

  </table>
</div>
</body>

</html>